{% extends 'base.html' %}
{% load static %}

{% block title %}form{% endblock %}

{% block content %}
{% include "header2.html" %}


<script>
console.log("Dupa");
function summary(){
    var kategoria = document.getElementById('id_categories').value;
    var ilosc = document.getElementById('id_quantity').value;
    //var instytucja = document.getElementById('id_institution').value;
    var instytucja = document.getElementById('id_institution');
    var string = instytucja.options[instytucja.selectedIndex].text;
    var adres = document.getElementById('id_adress').value;
    var miasto = document.getElementById('id_city').value;
    var kod = document.getElementById("id_zip_code").value;
    var telefon = document.getElementById("id_phone_number").value;
    var mies_odbior = document.getElementById("id_pick_up_date_month").value;
    var rok_odbior = document.getElementById("id_pick_up_date_year").value;
    var dzien_odbior = document.getElementById("id_pick_up_date_day").value;
    var czas_odbior = document.getElementById("id_pick_up_time").value;
    var komentarz = document.getElementById("id_pick_up_comment").value;
    
    document.getElementById('worki').innerHTML = ilosc+" worki";
    document.getElementById('dla-kogo').innerHTML = "Dla "+ string;
    document.getElementById('sum_adres').innerHTML = adres;
    document.getElementById('sum_miasto').innerHTML = miasto;
    document.getElementById('sum_kod').innerHTML = kod;
    document.getElementById('sum_tel').innerHTML = telefon;
    document.getElementById('data-odbioru').innerHTML = dzien_odbior+"."+mies_odbior+"."+rok_odbior;
    document.getElementById('czas-odbioru').innerHTML = czas_odbior;
    document.getElementById('uwagi').innerHTML = komentarz;
} 
</script> 


    <section class="form--steps">
      <div class="form--steps-instructions">
        <div class="form--steps-container">
          <h3>Ważne!</h3>
          <p data-step="1" class="active">
            Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
            wiedzieć komu najlepiej je przekazać.
          </p>
          <p data-step="2">
            Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
            wiedzieć komu najlepiej je przekazać.
          </p>
          <p data-step="3">
           Wybierz jedną, do
            której trafi Twoja przesyłka.
          </p>
          <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
      </div>
<!---->
      <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/5</div>

        <form action="\form" method="POST">

<!-- STEP 1: class .active is switching steps -->
          <div data-step="1" class="active">
            <h3>Zaznacz komu chcesz oddać dary:</h3>
           <div class="form-group form-group--checkbox">
          
                {% comment %} {% for cat in form.categories %}
               
                  <input type="checkbox" name="factura" value="{{ cat.name }}">
                {% endfor %} {% endcomment %}

           {% csrf_token %}
           {{ form.categories}}
             <label> Wybierz kategorie</label>
        
            </div>
              <div class="form-group form-group--buttons">
              <button type="button" class="btn next-step">Dalej</button>
              </div>
            </div>
            {% comment %} <div class="form-group form-group--checkbox">
              <label>
                <input
                  type="checkbox"
                  name="categories"
                  value="clothes-to-use"
                />
                <span class="checkbox"></span>
                <span class="description"
                  >ubrania, które nadają się do ponownego użycia</span
                >
              </label>
            </div> {% endcomment %}

<!-- STEP 2 -->
          <div data-step="2">
            <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

            <div class="form-group form-group--inline">
              <label>Ilość 60L worków</label>
              {% csrf_token %}
                {{ form.quantity }}
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="button" class="btn next-step">Dalej</button>
            </div>
          </div>

<!-- STEP 3 -->
          <div data-step="3">
            <h3>Wybierz organizacje, której chcesz pomóc:</h3>

            <div class="form-group form-group--checkbox">
              <label>Wybierz Instytucje </label>
              {% csrf_token %}
              {{ form.institution }}
                {% for inst in institution %}
                <span class="description">
                  <div class="title">{{ inst.name }}</div>
                </span>
                {% endfor %}
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="button" class="btn next-step">Dalej</button>
            </div>
          </div>

<!-- STEP 4 -->
          <div data-step="4">
            <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

            <div class="form-section form-section--columns">
              <div class="form-section--column">
                <h4>Adres odbioru</h4>
                <div class="form-group form-group--inline">
                  <label> Ulica </label>{{ form.adress }}
                </div>

                <div class="form-group form-group--inline">
                  <label> Miasto </label>{{ form.city }} 
                </div>

                <div class="form-group form-group--inline">
                  <label>Kod pocztowy</label>
                  {{ form.zip_code }}
                </div>

                <div class="form-group form-group--inline">
                  <label>Numer telefonu </label>
                  {{ form.phone_number }}
                </div>
              </div>

              <div class="form-section--column">
                <h4>Termin odbioru</h4>
                <div class="form-group form-group--inline">
                  <label> Data</label> {{ form.pick_up_date }} 
                </div>

                <div class="form-group form-group--inline">
                  <label> Godzina</label>  {{ form.pick_up_time }} 
                </div>

                <div class="form-group form-group--inline">
                  <label>Uwagi dla kuriera</label>
                  {% csrf_token %}
                  {{ form.pick_up_comment }}
                </div>
              </div>
            </div>
            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="button" class="btn next-step" onclick="summary()">Dalej</button>
            </div>
          </div>

<!-- PODSUMOWANIE -->
          <div data-step="5">
            <h3>Podsumowanie Twojej darowizny</h3>

            <div class="summary">
              <div class="form-section">
                <h4>Oddajesz:</h4>
                <ul>
                  <li>
                    <span class="icon icon-bag"></span>
                    <span class="summary--text">
                      <div id="worki">
                      </div>
                    </span>
                  </li>
                  <li>
                    <span class="icon icon-hand"></span>
                    <span class="summary--text">
                     <div id="dla-kogo">
                     </div>
                    </span>
                  </li>
                </ul>
              </div>

              <div class="form-section form-section--columns">
                <div class="form-section--column">
                  <h4>Adres odbioru:</h4>
                  <ul>
                    <li id="sum_adres"></li>
                    <li id="sum_miasto"></li>
                    <li id="sum_kod"></li>
                    <li id="sum_tel"></li>
                  </ul>
                </div>

                <div class="form-section--column">
                  <h4>Termin odbioru:</h4>
                  <ul>
                    <li id="data-odbioru"></li>
                    <li id="czas-odbioru"></li>
                    <li id="uwagi"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="submit" class="btn">Potwierdzam</button>
            </div>
          </div>
        </form>
      </div>
    </section>



{% endblock %}