{% load static %}
<!doctype html>
<html lang="pl">

<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Oddaj rzeczy| {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block head_additional%}
    {% endblock %} 
    </head>

    <body>
    {% block content %}
    {% endblock %}


    <script src="{% static 'js/app.js' %}"></script>
    <footer>
    {% include "footer.html" %}
    </footer>
    </body>
</html>
