{% extends 'base.html' %}
{% load static %}

{% block title %}login{% endblock %}

{% block content %} 
{% include "header.html" %}

  <section id="login" class="login-page">
      <h2>Zaloguj się</h2>
      <form method='POST'>
        <div class="form-group">
          
        {% csrf_token %}
        {{ form.as_p }}
        
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}#register" class="btn btn--without-border">Załóż konto</a>      
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>

{% endblock %}