{% extends 'base.html' %}
{% load static %}

{% block title %}confirm|password{% endblock %}

{% block content %}
{% include "header.html" %}
      <section id="password" class="login-page">
      <h2>Aby zmienić swoje dane wpisz ponownie swoje hasło</h2>
      <form action="{% url 'edit-profile' user.id %}" method='POST'>
        <div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        </div>

        <div class="form-group form-group--buttons">      
          <button class="btn" type="submit">OK</button> 
        </div>
      </form>
    </section>
          
{% endblock %}