<!-- STEP 5 -->
          <div data-step="5">
            <h3>Podsumowanie Twojej darowizny</h3>

            <div class="summary">
              <div class="form-section">
                <h4>Oddajesz:</h4>
                <ul>
                  <li>
                    <span class="icon icon-bag"></span>
                    <span class="summary--text"> 
                      {% comment %} <script type="text/javascript">
                        document.querySelector("#ilosc").addEventListener('input', function(event){
                          event.preventDefault();
                          document.write(ilosc.value);
                        });
                      </script> {% endcomment %}
                      </span>
                  </li>

                  <li>
                    <span class="icon icon-hand"></span>
                    <span class="summary--text">
                      {% comment %} <script type="text/javascript">
                        document.querySelector("#kat").addEventListener('input', function(event){
                          event.preventDefault();
                          document.write(org.checked);
                        });
                      </script> {% endcomment %}
                    </span>
                  </li>
                </ul>
              </div>

              <div class="form-section form-section--columns">
                <div class="form-section--column">
                  <h4>Adres odbioru:</h4>
                  <ul>
                    <li>
                    Prosta 51</li>
                    <li>Warszawa</li>
                    <li>99-098</li>
                    <li>123 456 789</li>
                  </ul>
                </div>

                <div class="form-section--column">
                  <h4>Termin odbioru:</h4>
                  <ul>
                    <li>13/12/2018</li>
                    <li>15:40</li>
                    <li>Brak uwag</li>
                  </ul>
                </div>
              </div>
            </div>
<!---->