{% extends 'base.html' %}
{% load static %}

{% block title %}login{% endblock %}

{% block content %} 
{% include "header.html" %}

  <section id="login" class="login-page">
      <h2>Zaloguj się</h2>
      <form method='POST'>
        <div class="form-group">
          
        {% csrf_token %}
        {{ form.quantity }}
          
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}#register" class="btn btn--without-border">Załóż konto</a>      
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
{% comment %} 
    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form method='POST' action="/login">
          {% csrf_token %}
            <div class="form-group">
           <input type="text" name="username" placeholder="Email"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło"/>
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>
{% endcomment %}

{% endblock %}